@font-face {
    font-family: futura;
    src: url(font/SansSerifBldFLF.otf);
}


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #226B80;
    -webkit-font-smoothing: antialiased;
}

header {
    font-family: futura;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template: 1fr / 10% 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, color 0.3s, margin-left 0.3s, margin-right 0.3s;
}

header img {
    grid-area: 1/1/2/2;
    height: calc(933px / 14);
    width: calc(1034px / 14);
}

header a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: background-color 0.3s, color 0.3s, margin-left 0.3s, margin-right 0.3s;
}

header>a:hover {
    background-color: #40A798;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

header>a:first-child {
    background-color: black;
    color: black;
}

#jeu {
    /* changer la couleur pour montrer qu'on est sur cette page */
    background-color: #40A798;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.interfaceJeu {
    position: absolute;
    top: calc(8.431rem + 16px);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 200px #000000;
    overflow: hidden;
    width: 633px;
    height: 960px;
    margin: 0 auto;
    zoom: 67%;
}

#police {
    position: absolute;
    font-family: 'Press Start 2P';
    color: black;
    font-size: 30px;
    white-space: nowrap;
}

.plateforme {
    position: absolute;
}

.invisible {
    overflow: hidden;
    visibility: hidden;
}

.tuto {
    cursor: pointer;
    position: absolute;
    top: calc(9rem + 16px);
    left: 5%;
    zoom: 70%;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    position: fixed;
    border: 10px solid #000;
    box-shadow: 0 0 50px #000000;
    transition: background-color 0.3s, color 0.3s, margin-left 0.5s, margin-right 0.5s;
}

.question-mark {
    font-size: 2em;
    color: #fff;
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-style: bold;
}

.rectangle {
    width: 550px;
    height: 430px;
    position: fixed;
    background-color: #40A798;
    border: 10px solid #000;
    border-radius: 20px;
    left: -690px;
    top: 250px;
    transition: width 0.5s ease;
    overflow: hidden;
    padding: 10px;
    cursor: default;
}

.succes {
    justify-content: right;
    position: fixed;
    top: calc(9rem + 16px);
    zoom: 70%;
    right: 6%;
    height: 80%;
}

.circleSucces {
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    border: 10px solid #000;
    box-shadow: 0 0 50px #000000;
    transition: background-color 0.3s, color 0.3s, margin-left 0.5s, margin-right 0.5s;
    position: fixed;
    right: 6%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circleSucces>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(51px/1.5);
    height: calc(51px/1.5);
}

.rectangleSucces {
    background-color: transparent;
    height: 0%;
    width: 540px;
    margin-top: 100px;
    border-radius: 30px;
    border: 14px solid #FFEBD3;
    position: relative;
    visibility: hidden;
    transition: height 0.3s;
}

.rectangleSucces2::-webkit-scrollbar {
    width: 0px;
}

.rectangleSucces2 {
    background-color: #FFEBD3;
    height: 95%;
    width: 93%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}

.rectangleSucces2>p {
    text-align: center;
    font-family: futura;
    font-size: 25px;
}

.rectangleSucces2>a {
    margin-left: 60px;
    font-family: futura;
    font-size: 20px;
}

.espace {
    margin: 8px;
}

.categorieSucces {
    margin-left: 15px;
}

.cadreSucces {
    height: 60px;
    width: 60px;
    border: 5px solid #000;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.cadreSucces>img {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 0.2s, width 0.2s;
    opacity: 100%;
    z-index: 1;
    cursor: pointer;
    opacity: 50%;
}

.categorieSucces>img {
    height: 60px;
    width: 60px;
    border: 5px solid #000;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}

.descriptionSucces2 {
    opacity: 0;
    transition: opacity 0.03s;
    z-index: 10;
}

.descriptionSucces {
    height: 80px;
    width: 320px;
    position: absolute;
    color: white;
    font-family: Futura;
    font-size: 20px;
    background-color: #313131;
    border-radius: 25px;
    opacity: 90%;
    top: 104px;
    left: 5%;
    transform: translateX(-5%);
    margin: 0;
    z-index: 2;
}

.descriptionSucces>a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 25px;
    padding-right: 15px;
    z-index: 2;
    opacity: 100%;
}

.descriptionTriangle {
    position: absolute;
    top: 76px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #313131;
    left: 50%;
    transform: translateX(-50%);
    opacity: 90%;
    margin: 0;
    z-index: 2;
}

.barreSeparation {
    background-color: black;
    height: 5px;
    border-radius: 10px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.expanded {
    width: 700px;
}

.titre {
    text-align: center;
    color: #000;
    font-family: futura;
    font-size: 25px;
    margin-top: 0;
}

.text {
    color: #000;
    font-family: futura;
    font-size: 20px;
    padding: 2px;
}

.tutoMenu {
    width: 700px;
    height: 430px;
}

.tutoGamePlay {
    width: 700px;
    height: 430px;
}

.tutoPiece {
    width: 700px;
    height: 430px;
}

.tutoMonstre {
    width: 700px;
    height: 430px;
}

.tutoObject {
    width: 700px;
    height: 430px;
}

.tutoType {
    display: grid;
    grid-template-columns: repeat(5, 700px);
    grid-gap: 100px;
}

.cercle_Tuto {
    display: grid;
    grid-template-columns: repeat(5, 10px);
    grid-gap: 10px;
    padding: 10px;
    position: "absolute";
    left: 43%;
    top: 93%;
}

.divPiece {
    display: grid;
    grid-template: 70px / 70px 20px 119px;
    grid-gap: 20px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 8px;
}

.divMonstre {
    display: grid;
    grid-template: 20px 177px / 130px 117px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    margin-bottom: 0;
}

.tableauScore {
    font-family: 'Press Start 2P';
    font-size: 20px;
    border-spacing: 50px 35px;
    border-collapse: separate;
    margin: auto;
}

.ligne0 {
    color: #fcfc04;
}

.ligne1 {
    color: #dcdcdc;
}

.ligne2 {
    color: #fc0404;
}

.ligne3 {
    color: #fcb444;
}

.ligne4 {
    color: #fcb494;
}

.ligne5 {
    color: #f4cc34;
}

.ligne6 {
    color: #fcfc04;
}

.ligne7 {
    color: #14b42c;
}

.ligne8 {
    color: #04fcdc;
}

.ligne9 {
    color: #149cb4;
}

.ligne10 {
    color: #0cd424;
}

.titreTableauScore {
    margin-top: 60px;
    position: relative;
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: #04fcdc;
    text-align: center;
}

tr>td:first-child {
    text-align: left;
}

tr>td:last-child {
    text-align: center;
}

tr>td:nth-child(2) {
    text-align: center;
}

.boutonMenu {
    color: #dcdcdc;
    font-size: 35px;
    margin-top: 7%;
    text-align: center;
    font-family: 'Press Start 2P';
    cursor: pointer;
}

.point-user {
    position: absolute;
    background-color: #FFEBD3;
    color: black;
    height: 2%;
    width: 633px;
    text-align: center;
    border-radius: 4px;
    font-family: futura;
    outline-offset: 10px;
    outline: 10px solid #FFEBD3;
}