@font-face {
  font-family: futura;
  src: url(font/SansSerifBldFLF.otf);
}

body {
  background-color: #226B80;
  color: black;
  font-family: futura;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  zoom : 67%; 
}

.barreTmp{
  width: 100%;
  height: 10%;
}

.barreMenu {
  overflow: hidden;
  background-color: black;
  width: 100%;
  height: 10%;
  position : fixed; 
  margin: 0;
  color: white;
  font-size: 40px;
  display: grid;
  grid-template: 1fr / 45% 55%;
  align-items: center;
  justify-content: center; 
}

.gridTitre {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template: 1fr / 80px 1fr;
  margin-left: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.gridTitre>img {
  height: calc(933px / 12);
  width: calc(1034px / 12);
}

.gridTitre>a {
  margin-left: 30px;
}

.gridProfil {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.profil>img {
  height: calc(190px / 3);
  width: calc(190px / 3);
  margin-left: 40px;
  margin-right: 15px;
}

.gridProfil>a:nth-child(1) {
  margin-left: 120px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #ffffff;
  display: inline-block;
  margin: 0 15px;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.accueil {
  display: grid;
  grid-template: 1fr/ 45% 55%;
  height: 90%;
  width: 100%;
  overflow: hidden;
}

.droite {
  background: linear-gradient(135deg, black 5%, #226B80 100%);
  font-size: 48px;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cadre {
  background-color: transparent;
  border: 4px solid #fff;
  padding: 20px;
  display: inline-block;
  border-radius: 30px;
  width: 300px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s
}

.gauche {
  font-size: 50px;
  color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.logo {
  margin-top: 30px;
  height: calc(933px / 1.3);
  width: calc(1034px / 1.3);
}

.ligne{
  width: 100%;
  height: 20px;
  background-color: #1B5363;
  margin: 0;
}
.titre{
  display: flex;
  width: 100%;
  height: 100px;
  color: white;
  background: linear-gradient(90deg, black -20%, #226B80 100%);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 55px;
}

.cadreDescriptif{
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bloc{
  width: 1700px;
  height: 700px;
  background-color: white;
  display: grid;
  grid-template : 1fr / 45% 55%;
}

.bloc2{
  width: 1700px;
  height: 700px;
  background-color: white;
  display: grid;
  grid-template : 1fr / 55% 45%;
}

.blocGauche{
  overflow: hidden;
  height: 100%;
  font-size: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.blocDroite{
  overflow: hidden;
  background: linear-gradient(135deg,  #226B80 0%, black 100%);
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
  grid-template : auto auto auto / 1fr;
  grid-row-gap: 20px;
  color: white;
  font-size: 30px;
  padding: 30px;
}
.blocDroite>a{
  padding: 35px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 25px;
}
.iconeBloc{
  margin-top: 20px;
  height: 50px;
  width: 100px;
  background: linear-gradient(90deg, black -20%, #226B80 100%);
  border-radius: 40px;
}
.ligne2{
  width: 100%;
  height: 10px;
  background-color: #1B5363;
  margin: 0;
}

.blocDroite2{
  overflow: hidden;
  height: 100%;
  font-size: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.blocGauche2{
  overflow: hidden;
  background: linear-gradient(135deg,  #226B80 0%, black 100%);
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
  grid-template : auto auto auto / 1fr;
  grid-row-gap: 20px;
  color: white;
  font-size: 30px;
  padding: 30px;
}

.blocGauche2>a{
  padding: 35px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 25px;
}


.fin{
  overflow: hidden;
  width: 100%;
  height: 450px;
  display: grid;
  grid-template : 1fr / 33.33% 33.33% 33.33%;
  font-size: 45px;
  margin: 0;
}

footer{
  font-size: 25px;
  margin-top: 385px;
  margin-left: 10px;
}

.finDroite{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: end;
  margin-right: 50px;
}

.cadrageFleche{
  display: flex; 
  text-align: center;
  justify-content: center;
}

.cadrageFleche>img{
  width: calc(1837px / 3.5);
  height: calc(594px / 3.5);
  margin-top: 60px;
  cursor: pointer;
}

.finDroite>img{
  margin-top: 20px;
  height: calc(933px / 3);
  width: calc(1034px / 3);
}

.cadreMenu{
  height: 130px;
  width: 250px;
  top : 165px; 
  position: fixed;
  left: 77.8%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: #fff;
  display: none;
}
.menu {
  height: 100%;
  width: 100%;
  font-size: 26px;
  padding-left: 30px;
  grid-gap: 0px;
  display: grid;
  align-items: center;
  text-align: left;
  justify-content: center;
  grid-template: 50% 50% / 100%;
}
.menu>a{
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: -22px;
  left: 80%;
  transform: translateX(-80%);
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #fff;
}