@font-face {
  font-family: futura;
  src: url(font/SansSerifBldFLF.otf);
}

body{
  background-color: #226B80;
  color: black;
  font-family: futura;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.barreMenu{
  background-color: black;
  width: 100%;
  height: 12%;
  margin: 0; 
  color: white; 
  font-size: 45px;
  position: fixed;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template: 1fr / auto auto;
  
}

.gridTitre>img{
  height: calc(933px / 13);
  width: calc(1034px / 13);
  margin-left: 20%; 

}
.gridTitre>a{
  margin-left: 20px;
  align-items: center;
}

.gridTitre{
  margin-left: 200px;
}

.accueil{
  display :grid; 
  height: 100%;
  width: 100%;
  grid-template: 1fr / 45% 55%;
}

.droite{
  background: linear-gradient(135deg, black 5%, #226B80 100%);
  border-radius: 2%;
}
.gauche>p{
  font-size: 35px;
  color: black;
  text-align: center;
  margin-top: 200px;
}
.gauche{
  height: 100%;
  width: 100%;
}