/* Police d'écriture */
@font-face {
    font-family: futura;
    src: url(font/SansSerifBldFLF.otf);
}

*{
    font-family: futura;
}

html{
    height: 100%;
}

/* Mise a 0 du style css */
body{
    margin: 0;
    background-color: #226B80;
    height: 100%;
}


/* CSS Relatif au header */
header{
    background-color: black ;
    display: grid;
    grid-template: 1fr / 10% 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    height: auto;
}

header img{
    grid-area: 1/1/2/2;
    width: 4rem;
    height: 4rem;
}

a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

header>a:hover, div>a:hover{
    background-color: #226B80;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

header>a:first-child{
    background-color: black;
    color: black;
}

main{
    margin-top: 5%;
    display: grid;
    /* Add space between the cards */
    grid-gap: 2%;
}

#actu{
    /* changer la couleur pour montrer qu'on est sure cette page */
    background-color: #00838d;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

header>a:hover, div>a:hover{
    background-color: #00838d;
    color: black;
    margin-left: 10%;
    margin-right: 10%;

}


#actualite{
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 70%;
    max-height: 99%;
    text-align: center;
    font-family: arial;
    margin: auto;
    border-radius: 5%;
    transition: 0.3s;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* Division a l'interieur de l'event */
    display: grid;
    grid-template-columns: 0.2fr 0.9fr 0.5fr;
    grid-template-rows: 0.2fr 0.3fr 1fr 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.photo { grid-area: 1 / 1 / 2 / 2; }
#like{
    max-width: 20%;
    height: auto;
}
#comment{
    max-width: 35%;
    height: auto;
}
#pp{
    max-width: 100%;
    height: auto;
}

.auteur { grid-area: 1 / 2 / 2 / 4;
        /* Alligne le texte a gauche au millieu de la hauteur*/
        display: flex;
        align-items: center;
        justify-content: flex-start;
}
.titre { grid-area: 2 / 2 / 3 / 4;
    /* Alligne le texte en haut a gauche*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.contenue { grid-area: 3 / 2 / 4 / 4; 
        /* Debut du texte en haut a gauche*/
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
}
.like { grid-area: 4 / 2 / 5 / 3;
        /* Alligne l'image a droite'*/
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        
}
.comment { grid-area: 4 / 3 / 5 / 4; }

p{
    font-size:25px;
    margin-bottom:0;
    padding-top:0;
    margin: 0;
}



#base{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}

#profil {
    position: fixed;
    top: 9.5%; 
    right: 1%; 
    display: grid;
    grid-area:  1/4/5/5;
    grid-template: 1fr 10fr / 1fr;
    color: black;
    padding: 2%;
}
#profil div:first-child {
  display: grid;
  grid-area: 1/1/2/2;
  text-align: center;
  background-color: #FFEBD3;
  color: black;
  border-radius: 4px;
  margin-bottom: 20%;
}

/* 2eme div, soit le aside des options */
#profil div:last-child {
  display: flex;
  flex-direction: column;
  background-color: #FFEBD3;
  color: black;
  grid-area: 2/1/6/2;
  text-align: center;
  border-radius: 4px;
  height: 50%;
  outline-offset: 10px;
  outline: 10px solid #FFEBD3;

}

#profil div:last-child img{
  grid-area: 1/1/2/2;
  width: 40%;
  margin-bottom: 10%;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  outline: 4px solid #40A798;
}

#profil div:last-child p:nth-of-type(1){
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

#profil div:last-child p:nth-of-type(2){
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

#profil div:last-child p:nth-of-type(3){
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

#profil div:last-child p:nth-of-type(4){
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

#profil div:last-child p:nth-of-type(5){
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

#profil div:last-child p:nth-of-type(6){
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5%;
}

  .modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0,3s ease-in-out;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.open{
    opacity: 1;
    z-index: 999;
}

.modal-inner{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.modal-inner h2{
    margin: 0;
}

.modal-inner p{
    line-height: 24px;
    margin: 10px 0;
}


#match_joue{
    display: none;
}
.match-deja-jouer{
    
    visibility: hidden;
    color: red;
}

