@font-face {
    font-family: futura;
    src: url(font/SansSerifBldFLF.otf);
}

label{
    color: black;
}
#liste{
    color: black;
}
body {
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: futura;
    display: grid;
    grid-template-areas:
    "nav-bar     nav-bar      nav-bar      nav-bar"
    "part-left part-middle part-middle part-middle"
    "part-left part-middle part-middle part-middle"
    "part-left part-middle part-middle part-middle";
    grid-template-columns: 1fr 3fr 3fr 1fr; 
    gap: 10px;
    height: 100vh;
    zoom:85%;
}

.nav-bar {
    background-color: aliceblue;
    grid-area: nav-bar;
    grid-column: span 4; 
}


.part-left, .part-middle {
    height: 100%;
    box-shadow: #1C84FF;
}

.part-left {
    grid-area: part-left; 
}

.part-middle {
    grid-area: part-middle; 
}



.part-left,.part-middle{
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
img{
    height: 10px;
    width: 10px;
}
.button-flex {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.button-flex img {
    height: 20px; 
    width: 20px; 
}






.button {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
 form{
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: row;
}
.button-22:active {
    background-color: #006AE8;
}

.button-22:hover {
    background-color: #1C84FF;
}


#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
}

/* input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
    border-style: none;
} */


/* input[type=text]:focus {
    width: 70%;
} */
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label ,input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
}
.user{
    width: 100%;
    height: 60px;
    background-color: #1C84FF;
    border-radius: 15px;
}
.pronostique{
    background-color: #1C84FF;
    border-radius: 15px;
    text-align: center;
    display: grid;
    grid-template-areas:
    "id    equipe_d   equipe_e   nom_even  cat_sport   date    cote_d  cote_e dropdown";
    
    grid-template-columns: 0.5fr 0.5fr  0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr; 

    align-items: center;
   

}

.id{
    grid-area: id;
}
.equipe_d{
    grid-area: equipe_d;
}

.equipe_e{
    grid-area: equipe_e;
}
.nom_even{
    grid-area: nom_even;
}
.cat_sport{
    grid-area: cat_sport;
}
.date{
    grid-area: date;
}
.cote_d{
    grid-area: cote_d;
}
.cote_e{
    grid-area: cote_e;
}
.dropdown{
    grid-area: dropdown;
}
.dropbtn {
    background-color: #0276FF;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}


.dropdown-content li:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.user{
    text-align: center;
    display: grid;
    grid-template-areas:
    "id    pseudo      adresse-mail           point    point-class    score      dropdown";
    
    grid-template-columns: 0.5fr 0.5fr  1fr 0.3fr 0.3fr 0.3fr 0.3fr; 

    align-items: center;
}
.id{
    grid-area: id;
}
.pseudo{
    grid-area: pseudo;
}
.adresse_mail{
    grid-area: adresse-mail;
}

.point{
    grid-area: point;
}
.point-class{
    grid-area: point-class;
}
.score{
    grid-area: score;
}
.dropdown{
    grid-area: dropdown;
}

.button span{
    font-family: futura;
    color: rgb(255, 255, 255);
}

.part-middle  {
    overflow-y: auto;
    overflow-x: scroll;
    height: auto;
display: flex;
flex-direction: column;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
 
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  #btn-terminer{
    text-align: center;
    border: 5px;
    background-color: #1C84FF;
    box-shadow: #0276FF;
  }
  #btn-terminer:hover {
    background-color: #008CBA; /* change to your desired color */
    color: white; /* change to your desired color */
    cursor: pointer;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }