@font-face {
  font-family: futura;
  src: url(font/SansSerifBldFLF.otf);
}

body {
  font-family: futura;
  margin: 0;
  background-color: #226b80;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.flex-input {
  position: absolute;
  top: 5px;
}
img {
  height: 150px;
  vertical-align: middle;
}



/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;

  width: auto;
  padding: 16px;

  color: white;
  font-weight: bold;
  font-size: 18px;

  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev,
.next {
  width: 200px;
  height: 200px;
  /* background-color: rgba(0,0,0,0.8); */
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Fading animation */
label {
  width: 400px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}



#title {
  color: #69dac2;
  position: absolute;
  left: 3%;
  font-weight: bold;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
label {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}
input {
  border-radius: 5px;
  height: 50px;
  width: 200px;
  font-family: futura;
  border: 0;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }

#left{
 /* Create space between the top 50%*/
  margin-top: 60%;
  /* Center the image */
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* augementation de la taille de l'image */
  width: 300px;
  height: 200px;
  /* Cliquable */
  cursor: pointer;
}
#right{
  /* Create space between the top 50%*/
   margin-top: 65%;
   /* Center the image */
   margin-left: auto;
   margin-right: auto;
   display: block;
  /* Rotation a 65 degres de l'image */
  transform: rotate(230deg);
  cursor: pointer;
 }

#us{
  display: grid !important;
  grid-template-columns: 1fr !important;
  grid-template-rows: repeat(2, 1fr) !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  height: 100% !important;
}

#em{
  display: grid !important;
  grid-template-columns: 1fr !important;
  grid-template-rows: repeat(2, 1fr) !important;
  grid-column-gap: 0px !important;
  grid-row-gap: 0px !important;
  height: 100% !important;
}

#md{
  display: grid ;
  grid-template-columns: 1fr ;
  grid-template-rows: repeat(2, 1fr) ;
  grid-column-gap: 0px ;
  grid-row-gap: 0px ;
  height: 100% ;
}


#corps{
  grid-area: 1 / 1 / 2 / 2;
  /* Center everything */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#val{
  grid-area: 2 / 1 / 3 / 2;
  /* Center everything*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: #FFDAB9;
  margin-bottom: 10px;
  color : red;
  grid-area: 2/1/6/2;
  text-align: center;
  border-radius: 4px;
  height: 30%;
  outline-offset: 10px;
  outline: 10px solid #FFEBD3;
}
.slideshow-container{
  height: 100%;
}

#eye{
  /* decrease the size */
  width: 20px;
  height: 20px;
}
