<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportify</title>
    <link rel="stylesheet" href="../../public/css/actu_style.css">
    
</head>
<body>
    <header>
        <a id="accueil" href="actu.html"><img src="../../public/images/logo.png"></a>
        <a id="actu" href="">Actu</a>
        <a id="prono" href="">Prono</a>
        <a id="boutique" href="">Boutique</a>
        <a id="deconnexion" href="">Déconnexion</a>
    </header>
    <div id="base">
    <aside>
        <button> Actualité</button>
        <aside id="categorie">
            <form>
                <fieldset>
                    <legend>Catégories</legend>
                    <input type="checkbox" name="categorie" value="foot">Football<br>
                    <input type="checkbox" name="categorie" value="basketball">Basketball<br>
                    <input type="checkbox" name="categorie" value="rugby">Rugby<br>
                    <input type="checkbox" name="categorie" value="boxe">Boxe<br>
                    <input type="checkbox" name="categorie" value="tennis">Tennis<br>
                    <input type="submit" value="Filtrer">
                </fieldset>
            </form>
        </aside>
    </aside>
    <main>
        <section id="actualite" class="Actu">
            <div class="photo"><img src="../../public/images/logo.png" id="pp"></div>
            <div class="auteur"><p>Keap</p></div>
            <div class="titre"><h1>Actu transfère !</h1></div>
            <div class="contenue">Le jeune joueur du FC Barcelone Ansu Fati actuellement préter a Brighton est sur le point d'etre transfere definitivement</div>
            <div class="like"><img src="../../public/images/like.png" id="like"></div>
            <div class="comment"><img src="../../public/images/comment.png" id="comment"></div>
        </section>
        <section id="actualite" class="Actu">
            <div class="photo"><img src="../../public/images/logo.png" id="pp"></div>
            <div class="auteur"><p>Keap</p></div>
            <div class="titre"><h1>Actu transfère !</h1></div>
            <div class="contenue">Le jeune joueur du FC Barcelone Ansu Fati actuellement préter a Brighton est sur le point d'etre transfere definitivement</div>
            <div class="like"><img src="../../public/images/like.png" id="like"></div>
            <div class="comment"><img src="../../public/images/comment.png" id="comment"></div>
        </section>   
        <section id="actualite" class="Actu">
            <div class="photo"><img src="../../public/images/logo.png" id="pp"></div>
            <div class="auteur"><p>Keap</p></div>
            <div class="titre"><h1>Actu transfère !</h1></div>
            <div class="contenue">Le jeune joueur du FC Barcelone Ansu Fati actuellement préter a Brighton est sur le point d'etre transfere definitivement</div>
            <div class="like"><img src="../../public/images/like.png" id="like"></div>
            <div class="comment"><img src="../../public/images/comment.png" id="comment"></div>
        </section>   
        <section id="actualite" class="Actu">
            <div class="photo"><img src="../../public/images/logo.png" id="pp"></div>
            <div class="auteur"><p>Keap</p></div>
            <div class="titre"><h1>Actu transfère !</h1></div>
            <div class="contenue">Le jeune joueur du FC Barcelone Ansu Fati actuellement préter a Brighton est sur le point d'etre transfere definitivement</div>
            <div class="like"><img src="../../public/images/like.png" id="like"></div>
            <div class="comment"><img src="../../public/images/comment.png" id="comment"></div>
        </section>        
    </main>
    <aside id="profil">
        <div>
            <p>120 Sportycoins</p>
        </div>
        <div>
            <img src="images/logo.png">
            <p>Pseudo</p>
            <p>Classement</p>
            <p>Prono réussi</p>
            <p>Badges</p>
            <p>Equipe préférée</p>
        </div>
    </aside>
</div>
</body>
</html>
<script src="../../public/js/prono.js"></script>