<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportify</title>
    <link rel="stylesheet" href="../../public/css/pronostique_style.css">
</head>
<body>
    <header>
        <a id="accueil" href="actu.html"><img src="../../public/images/logo.png"></a>
        <a id="actu" href="">Actu</a>
        <a id="prono" href="">Prono</a>
        <a id="boutique" href="">Boutique</a>
        <a id="deconnexion" href="">Déconnexion</a>
    </header>
    <div id="base">
    <aside>
        <button> Actualité</button>
        <aside id="categorie">
            <form>
                <fieldset>
                    <legend>Catégories</legend>
                    <input type="checkbox" name="categorie" value="foot">Football<br>
                    <input type="checkbox" name="categorie" value="basketball">Basketball<br>
                    <input type="checkbox" name="categorie" value="rugby">Rugby<br>
                    <input type="checkbox" name="categorie" value="boxe">Boxe<br>
                    <input type="checkbox" name="categorie" value="tennis">Tennis<br>
                    <input type="submit" value="Filtrer">
                </fieldset>
            </form>
        </aside>
    </aside>
    <main>
        <section id="prono">
            <img src="../../public/images/football.svg" id="image_sport">
            <p>Equipe 1 - Equipe 2</p>
            <p>Evenement</p>
            <p>Sport</p>
            <p>Date</p>
            <p>Cote 1</p>
            <p>Cote 2</p>
        </section>
    </main>
    <aside>
        <input type="text" placeholder="Rechercher">
        <a>100 Sporticoin</a>
    </aside>
</div>
</body>
</html>